@font-face {
  font-family: "Yekan";
  src: local("Yekan"), url(./fonts/Yekan) format("truetype");
}

html,
body {
  /*direction: rtl;*/
  font-family: "Yekan";
}
.mui-marker {
  background: transparent;
  border: none;
}
.leaflet-container img {
  max-width: none !important;
}

.leaflet-container {
  z-index: 0;
}
